{% extends "base.html" %}

{% block head%}
<title>Add profile</title>
<link rel="stylesheet" href="../../static/style-edit-profile.css">
{%endblock%}

{% block body %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="text-center mb-3 mx-1 mx-md-4 mt-4 alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="main-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <h1 class="h1 text-center text-primary">Add report</h1>
                        <form method="POST" action="{{ url_for('record.add_medical_record_post') }}">
                        <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ssn</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input name='ssn' type="text" class="form-control" placeholder="Enter ssn" value="{{pat_ssn}}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Doc_id</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input name='doc_id' type="text" class="form-control" placeholder="Enter doc_id" value="{{session['doc_id']}}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Category</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input name="category" placeholder="Enter category" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Description</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input name=description type="text" class="form-control" placeholder="Enter description">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input name="date" type="date" class="form-control" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input name="save_changes" type="submit" class="btn btn-primary px-4" value="Confirm">
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}