{% extends "base.html" %}

{% block head%}
<title>Find your doctor</title>
<!-- <link rel="stylesheet" href="../../script/search.css"> -->

{%endblock%}

{% block body%}

<div class="container">
    <h2>Find a doctor</h2>
    <p>Type something in the input field to search the table for first names, last names or emails:</p>  
    <form class="row" method="POST" action="/">
        <input class="form-control col" id="myInput" type="text" placeholder="Search..">
        <div class="col-1"></div>
        <button type="submit" class="btn btn-primary btn-lg col-2">Search</button>
    </form>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Specialization</th>
          <th>Age</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for doctor in doctors %}
        <tr>
          <td>{{ doctor[1] }}</td>
          <td>{{ doctor[2] }}</td>
          <td>{{ doctor[3] }}</td>
          <td>{{ doctor[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  {%endblock%}