{% extends "base.html" %}

{% block head%}
<title>E-Hospital</title>
<link rel="stylesheet" href="../static/style.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
{%endblock%}

{% block body%}
{% if 'logged_in' not in session %}
<img src="../static/img/home-hero-safe-care-1.jpg" class="img-fluid" alt="Responsive image">
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <h1 class="text-primary">Login to manage your appointments</h1>
          <h1 class="text-primary">Keep track of patients</h1>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="POST" action="{{ url_for('main.login_post') }}">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Login</p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center mb-3 mx-1 mx-md-4 mt-4 alert alert-danger" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input name="id" type="number" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter your ID (numbers)" required />
              <label class="form-label" for="form3Example3">Staff id</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input name="password" type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" required />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
            </button>
              <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{ url_for('main.register') }}"
                  class="link-danger">Register</a></p> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
{% endif %}
{%endblock%}