{% extends "base.html" %}

{% block head%}
<title>Bill report</title>
<link rel="stylesheet" href="../static/bill-report.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> -->
{%endblock%}

{% block body%}
<h1>{{ title }}</h1>

<div class="container">
  <div class="title h1 text-center">Bill report</div>

  <div class="card float-left">
    <div class="row ">

        <div class="card-block mx-3 row">
          <form method="POST" action="{{ url_for('record.bill_report_post') }}">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="text-center mb-3 mx-1 mx-md-4 mt-4 alert alert-danger" role="alert">
                      {{ messages[0] }}
                  </div>
              {% endif %}
              {% endwith %}
                  <label class="h3 text-left col-3 card-title text-info" for="between_date">Find report between:</label>
                  <input class="btn btn-primary col-2 mx-1" type="date" id="start_date" name="start_date" placeholder="Search"">
                  <input class="btn btn-primary col-2" type="date" id="end_date" name="end_date" placeholder="Search">
                  <input class="btn btn-primary col-1 mx-2" type="submit" value="Submit">
          </form>
          {% if searching %}
<div class="card">
  <div class="row ">
    <div class="col-md-3 px-3">
      <div class="card-block px-6">
        <h4 class="card-title text-info">Custom report</h4>
          <p class="card-text">
              Number of bill: {{ total_bill_between }}
          </p>
          <p class="card-text">
              Total amount: {{ total_amount_between }}
          </p>
          <p class="card-text">
              Average Total amount: {{ average_amount_between }}
          </p>
          <p class="card-text">
               Highest bill: {{ hightest_amount_between }}
          </p>
          <p class="card-text">
              Lowest bill: {{ lowest_amount_between }}
         </p>
        </div>
      </div>
      <!-- Carousel start -->
      <div class="col-md-5">
          <img class="d-block" src="../../static/img/between-report.png" alt="daily-report">
      </div>
      <!-- End of carousel -->
    </div>
  </div>
{% else %}
<div class="container py-3">
    <!-- Card Start -->
    <div class="card">
      <div class="row ">
        <div class="col-md-3 px-3">
          <div class="card-block px-6">
            <h4 class="card-title text-info">Daily report</h4>
            <p class="card-text">
                Number of bill: {{ total_bill }}
            </p>
            <p class="card-text">
                Total amount: {{ total_amount }}
            </p>
            <p class="card-text">
                Average Total amount: {{ average_amount }}
            </p>
            <p class="card-text">
                 Highest bill: {{ hightest_amount }}
            </p>
            <p class="card-text">
                Lowest bill: {{ lowest_amount }}
           </p>
            <br>
          </div>
        </div>
        <!-- Carousel start -->
        <div class="col-md-5">
            <img class="d-block" src="../../static/img/daily-report.png" alt="daily-report">
        </div>
        <!-- End of carousel -->
      </div>
    </div>
    <!-- End of card -->
  
  </div>
  {% endif %}
</div>

{%endblock%}