{% extends "base.html" %}

{% block head%}
<title>Medical record</title>
<!-- <link rel="stylesheet" href="../../script/search.css"> -->

{%endblock%}

{% block body%}
<div class="container">
  <h2>Find report</h2>
  <p>Type something in the input field to search patient by name, gender, age, DOB, start, end date:</p>
  <form method="POST" action="{{ url_for('record.medical_record_post') }}">
    <div class="row">
      <input name="search_input" class="form-control col" id="myInput" type="text" placeholder="Search..">
      <div class="col-1"></div>
      <button type="submit" class="btn btn-primary btn-lg col-2">Search</button>
    </div>
    <div class="row">
      <label class=" h2 text-left col-3" for="between_date">Find between:</label>
      <input class="btn btn-primary btn-lg col-2 mx-2" type="date" id="start_date" name="start_date" placeholder="Search">
      <input class="btn btn-primary btn-lg col-2" type="date" id="end_date" name="end_date" placeholder="Search">
      <input class="btn btn-primary btn-lg col-1 mx-5" type="submit" value="Submit">
    </div>
</form>
<a href="{{ url_for('record.add_medical_record') }}" class="btn btn-primary btn-lg col-2 my-3">New report</a>
{% for report in reports %}
<div class="col-md-8">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0 text-primary">Report ID</h6>
          </div>
          <div class="col-sm-9 text-primary">
            {{ report[0] }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Full Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ report[1] }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Category</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ report[3] }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Description</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ report[4] }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Doctor in charge</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ report[2] }}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Date</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ report[5] }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{%endblock%}