{% extends "base.html" %}

{% block head%}
<title>Find medicine</title>
<!-- <link rel="stylesheet" href="../../script/search.css"> -->

{%endblock%}

{% block body%}

<div class="container">
    <h2>Find medicine</h2>
    <p>Type something in the input field to search the table for first names, last names or emails:</p>  
    <form class="row" method="POST" action="{{ url_for('record.medicine_record_post') }}">
        <input name="search_input" class="form-control col" id="myInput" type="text" placeholder="Search.." value="{{current_search}}">
        <div class="col-1"></div>
        <button type="submit" class="btn btn-primary btn-lg col-2">Search</button>
    </form>
    <a href="{{ url_for('record.add_medicine') }}" class="btn btn-primary btn-lg col-2 my-3">New medicine</a>
    <br>
    <p class="h4 text-info">{{ num_medicines }}{% if num_medicines <= 1 %} medicine {% else %} medicines {% endif %} found </p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cure</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Manufacturer</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for medicine in medicines %}
        <tr>
          <td>{{ medicine[1] }}</td>
          <td>{{ medicine[7] }}</td>
          <td>{{ medicine[2] }}</td>
          <td>{{ medicine[5] }}</td>
          <td>{{ medicine[6] }}</td>
          <td>
            <a href="{{ url_for('record.medicine_record_delete', id=medicine[0]) }}" class="btn btn-teal btn-rounded btn-sm m-0 bg-primary">View</a>
            <a href="{{ url_for('record.medicine_record_delete', id=medicine[0]) }}" class="btn btn-teal btn-rounded btn-sm m-0 bg-warning">Edit</a>
            <a href="{{ url_for('record.medicine_record_delete', id=medicine[0]) }}" class="btn btn-teal btn-rounded btn-sm m-0 bg-danger">Delete</a>
        </td>        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  {%endblock%}